.shipping-card{text-align: center;}
.shipping-icon img{width: 100px;height: 100px;object-fit: cover;}
.shipping-icon{margin-bottom: 20px;}
.shipping-content h3{font-size: 1.5rem;text-transform:uppercase;color: var(--secondary-color);font-weight: 600;margin-bottom: 10px;}
.shipping-content p{font-size: 1.2rem;}
.shipping-row{display: flex;align-items: center;justify-content: space-between;}
.shipping-card{margin: 0px 40px;}
