.admin-users-list-main-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-y: scroll;
}

.admin-users-list-main-container::-webkit-scrollbar {
  display: none;
}

.admin-users-list-table-section {
  width: 100%;
  min-height: 90%;
  height: fit-content;
}

.admin-table-user-status{
  padding: .3rem .5rem;
  border-radius: 9px;
  border: none;
  color: white;
}
.admin-table-user-status.active{
  background-color: rgb(2, 215, 2);
}
.admin-table-user-status.inactive{
  background-color:rgb(227, 0, 0);
}