.admin-product-list-main-container {
  width: 100%;
  height: 100%;
}
.admin-product-list-container {
  width: 100%;
  height: 100%;
}
.admin-product-list-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  align-items: center;
}
.admin-product-list-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}
.admin-product-list-action-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.admin-product-list-action-icons-container > svg {
  cursor: pointer;
}

.product-active-btn,
.product-inactive-btn {
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.product-active-btn {
  background-color: #47d94c;
}
.product-inactive-btn {
  background-color: #db4213;
}
.admin-product-rating {
  display: flex;
  align-items: center;
}
