.category-cards{display: flex;align-items: center;justify-content: center;margin: 40px auto 0px;}
.cate-cards-row{display: flex;align-items: center;justify-content: space-between;}
.cate-cards{width: 48%;position: relative;}
.cate-cards::after{position: absolute;top: 0;left: 0;background-color: #0000006a;width: 100%;height: 100%;content: "";pointer-events: none;}
.cate-content{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 555;text-align: center;}
.cate-content .secondry-btn{margin-top: 30px;}
.cate-content h3{font-size: 3rem;color: #fff;font-weight: 600;}
.cate-cards-image{position: relative;}
.cate-cards-image img{height: 400px;width: 100%;object-fit: cover;position: relative;}
.cate-cards-image::before{content: "";position: absolute;top: 20px;right: 20px;bottom: 20px;left: 20px;border-top: 2px solid var(--secondary-color);border-bottom: 2px solid var(--secondary-color);z-index: 55;transform: scaleX(0);transition: all .4s ease-out 0s;}
.cate-cards-image:hover::after{transform: none;transition: all .4s ease-out 0s;}
.cate-cards-image:hover::before{transform: none;transition: all .4s ease-out 0s;}
.cate-cards-image::after{content: "";position: absolute;top: 20px;right: 20px;bottom: 20px;left: 20px;border-left: 2px solid var(--secondary-color);border-right: 2px solid var(--secondary-color);z-index: 55;transform: scaleY(0);transition: all .4s ease-out 0s;}