.secondry-banner{position: relative;}
.secondry-banner::after{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #00000081;content: "";}
.secondry-banner-video video{width: 100%;height: 600px;object-fit: cover;}
.secondry-banner-content h2{font-size: 4rem;text-align: center;font-weight:500;color: #fff;text-transform: uppercase;}
.secondry-banner-content{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);max-width: 1000px;width: 100%;z-index: 555;margin: 0 auto;text-align: center;} 
.secondry-banner-content .secondry-btn{text-align: center;margin-top: 50px;}
@media(max-width:1024px){
    .secondry-banner-content h2{font-size: 3rem;}
}
@media(max-width:768px){
    .secondry-banner-video video{
        height: 400px;
    }
}
@media(max-width:600px){
    .secondry-banner-content h2{
        font-size: 2rem;
    }
}