.best-seller-sec{padding: 40px 0px;}
.best-seller-sec h2{font-size: 3rem;font-weight: 600;color: #000000;max-width:fit-content;margin: 0 auto;}
.best-seller-sec h2 span{color: var(--secondary-color);}
.category-sec{padding: 40px 0px;background-color: #000000;}
.category-sec h2{font-size: 3rem;font-weight: 600;color: #ffffff;max-width:fit-content;margin: 0 auto;}
.category-sec h2 span{color: var(--secondary-color);}
.product-sec{padding: 40px 0px 0px;}
.product-sec h2{font-size: 3rem;font-weight: 600;color: #000000;max-width:fit-content;margin: 0 auto;}
.product-sec h2 span{color: var(--secondary-color);}
.product-cards-row{display: flex;align-items: center;justify-content:left;flex-wrap: wrap;}
.product-cards-row{margin: 50px 0px;}
.product-cards-row > div{width: 22%;margin:0px 20px;}
.secondry-banner{position: relative;}
.testimonial-sec{padding: 40px 0px;}
.shippping-sec{padding: 40px 0px;background-color: #000000;color: #ffffff;}
.secondry-banner-sec{padding: 60px 0px 0px;}